<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="../src/Controller/clientsController.php" method="post">
        <fieldset>
            <legend>Création de nouveau client</legend>
            Code postal :<input type="text" name="cp">
            Ville :<input type="text" name="city">
            Adresse :<input type="text" name="address">
            Téléphone :<input type="text" name="phone">
            Label :<input type="text" name="label">
            <input type="submit" value="Créer">
        </fieldset>
    </form>
</body>
</html>