html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.body-connexion {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
}



.form-connexion {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-none {
    background-color: rgba(240, 248, 255, 0);
    outline: none;
    transform: translateY(-29%);
    position: relative;
    border: none;
    border-radius: 3em;
    height: 200%;
    width: 100%;
}

.submit-connexion {
    width: 20%;
    height: 10%;
    background-color: #83a4cf;
    border-radius: 3em;
    border: none;
    color: rgb(240, 248, 255);
    transition: all 0.75s;
}

.submit-connexion:hover {
    background-color: rgb(240, 248, 255);
    border: solid 2px #83a4cf;
    color: #83a4cf;
}

.input-connexion {
    margin: 2%;

    width: 100%;
    height: 10%;
    /* border: none; */
    border-radius: 3em;
}

.connexion {
    display: flex;

    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.parent {
    padding: 0;
    margin: 0;
    width: 98.5%;
    height: 98%;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 50%);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.PriseRDV {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #0e50a6;
}

.conterondu {
    grid-area: 2 / 1 / 3 / 2;
    background-color: aquamarine;
    overflow-y: scroll;
    height: 500px;
}

.RdvEnCour {
    grid-area: 1 / 2 / 3 / 3;
    background-color: burlywood;
    overflow-y: scroll;
    height: 1200px;
    /* height: 100vh; */
}